/*--------------------------------------------------------------
  Utilities
--------------------------------------------------------------*/

@import 'utils/mixins';
@import 'utils/variables';

/*--------------------------------------------------------------
  Base
--------------------------------------------------------------*/

@import '../../bower_components/sanitize-css/sanitize.scss';
@import 'base/typography';
@import 'base/tables';
@import 'components/buttons';

// sass/
// |
// |– base/
// |   |– _reset.scss       # Reset/normalize
// |   |– _typography.scss  # Typography rules
// |   ...                  # Etc…
// |
// |– components/
// |   |– _buttons.scss     # Buttons
// |   |– _carousel.scss    # Carousel
// |   |– _cover.scss       # Cover
// |   |– _dropdown.scss    # Dropdown
// |   ...                  # Etc…
// |
// |– layout/
// |   |– _navigation.scss  # Navigation
// |   |– _grid.scss        # Grid system
// |   |– _header.scss      # Header
// |   |– _footer.scss      # Footer
// |   |– _sidebar.scss     # Sidebar
// |   |– _forms.scss       # Forms
// |   ...                  # Etc…
// |
// |– pages/
// |   |– _home.scss        # Home specific styles
// |   |– _contact.scss     # Contact specific styles
// |   ...                  # Etc…
// |
// |– themes/
// |   |– _theme.scss       # Default theme
// |   |– _admin.scss       # Admin theme
// |   ...                  # Etc…
// |
// |– utils/
// |   |– _variables.scss   # Sass Variables
// |   |– _functions.scss   # Sass Functions
// |   |– _mixins.scss      # Sass Mixins
// |   |– _helpers.scss     # Class & placeholders helpers
// |
// |– vendors/
// |   |– _bootstrap.scss   # Bootstrap
// |   |– _jquery-ui.scss   # jQuery UI
// |   ...                  # Etc…
// |
// |
// `– main.scss             # Main Sass file
