/*--------------------------------------------------------------
  Aside
--------------------------------------------------------------*/

aside {
  background-color: #eee;
  padding: 0 .5em;
  border-radius: $noclass-radius;
}
