/*--------------------------------------------------------------
  HR
--------------------------------------------------------------*/

hr {
  height: 1px;
  margin: 1em 0;
  border: none;
  background-color: $noclass-hr;
}
