//--------------------------------------------------------------
//  Typography
//--------------------------------------------------------------

$noclass-body-font-family   : 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$noclass-body-font-weight   : 300 !default;
$noclass-heading-font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;
$noclass-heading-font-weight: 300 !default;

$noclass-body-size          : 16 !default;
$noclass-heading-size-1     : 36 !default;
$noclass-heading-size-2     : 30 !default;
$noclass-heading-size-3     : 24 !default;
$noclass-heading-size-4     : 20 !default;
$noclass-heading-size-5     : 16 !default;
$noclass-heading-size-6     : 14 !default;

$noclass-small-size         : 12 !default;

//--------------------------------------------------------------
//  Colors
//--------------------------------------------------------------

$noclass-main                : #3498db !default;
$noclass-selection-background: rgba(0,0,0,.1) !default;
$noclass-selection-text      : #000 !default;
$noclass-code-background     : #f5f2f0 !default;
$noclass-table-row-background: #f7f7f7 !default;
$noclass-blockquote-border   : rgba(0,0,0,.1) !default;
$noclass-hr                  : #ddd !default;
$noclass-menu-underine       : #ddd !default;
$noclass-fieldset-border     : #ddd !default;
$noclass-input-border        : #ddd !default;

//--------------------------------------------------------------
//  Misc
//--------------------------------------------------------------

$noclass-radius              : 4px !default;
