/*--------------------------------------------------------------
  Docs CSS
--------------------------------------------------------------*/

body {
  margin: 2em;
  background-color: #e7e7e7;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.05);
     -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,.05);
          box-shadow: 0 5px 10px 0 rgba(0,0,0,.05);
}
