/*--------------------------------------------------------------
  Typography
--------------------------------------------------------------*/

html {
  font-size: 62.5%;

  font-kerning: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-weight: $noclass-body-font-weight;
  font-family: $noclass-body-font-family;
  line-height: 1.6;

  @include font-size($noclass-body-size);
}

/**
 * Headings
 */

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: $noclass-heading-font-weight;
  line-height: 1;

  @include font-size($noclass-heading-size-1);
}

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: $noclass-heading-font-weight;
  line-height: 1;

  @include font-size($noclass-heading-size-2);
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: $noclass-heading-font-weight;
  line-height: 1;

  @include font-size($noclass-heading-size-3);
}

h4 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: $noclass-heading-font-weight;
  line-height: 1;

  @include font-size($noclass-heading-size-4);
}

h5 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: $noclass-heading-font-weight;
  line-height: 1;

  @include font-size($noclass-heading-size-5);
}

h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: $noclass-heading-font-weight;
  line-height: 1;

  @include font-size($noclass-heading-size-6);
}

/**
 * Misc
 */

p {
  margin-bottom: 1em;
}

code {
  vertical-align: baseline;
  font-size: 80%;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}
pre {
  code {
    display: block;
    padding: 0 1em;
    border: 1px solid darken($noclass-code-background, 5%);
    border-radius: $noclass-radius;
    background-color: $noclass-code-background;
  }
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

cite {
  font-style: italic;
}

abbr,
acronym {
  border-bottom: .1em dotted;
  cursor: help;
}

blockquote,
q {
  margin-bottom: 1em;
  padding-left: 1em;
  border-left: 3px solid $noclass-blockquote-border;
  quotes: none;
}

/**
 * Lists
 */

ol,
ul {
  margin-bottom: 1em;
  padding-left: 1.5em;
  ol,
  ul {
    margin-bottom: 0;
  }
}

/**
 * Links
 */

a {
  border-bottom: 1px solid $noclass-main;
  color: $noclass-main;
  &:hover {
    border-bottom: 0;
    color: darken($noclass-main, 10%);
    cursor: pointer;
  }
}

/**
 * Selected text
 */

::selection {
  background: $noclass-selection-background;
  color: $noclass-selection-text;
  text-shadow: none;
}
