/*--------------------------------------------------------------
  Typography
--------------------------------------------------------------*/

html {
  font-size: 62.5%;

  font-kerning: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $noclass-body-font-family;
  font-weight: $noclass-body-font-weight;
  line-height: 1.6;
  @include font-size($noclass-body-size);
}

/**
 * Headings
 */

h1 {
  font-weight: $noclass-heading-font-weight;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-size($noclass-heading-size-1);
}

h2 {
  font-weight: $noclass-heading-font-weight;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-size($noclass-heading-size-2);
}

h3 {
  font-weight: $noclass-heading-font-weight;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-size($noclass-heading-size-3);
}

h4 {
  font-weight: $noclass-heading-font-weight;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-size($noclass-heading-size-4);
}

h5 {
  font-weight: $noclass-heading-font-weight;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-size($noclass-heading-size-5);
}

h6 {
  font-weight: $noclass-heading-font-weight;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  @include font-size($noclass-heading-size-6);
}

/**
 * Misc
 */

p {
  margin-bottom: 1em;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 80%;
  vertical-align: baseline;
}
pre {
  overflow: auto;
  margin: 0.5em 0;
  padding: 0 1em !important;
  background: $noclass-code-background;
  // code {
  //   display: block;
  //   padding: 0 1em;
  //   border: 1px solid darken($noclass-code-background, 5%);
  //   border-radius: $noclass-radius;
  //   background-color: ;
  // }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

cite {
  font-style: italic;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}

blockquote,
q {
  margin-bottom: 1em;
  padding-left: 1em;
  quotes: none;
  border-left: 3px solid $noclass-blockquote-border;
}

/**
 * Lists
 */

ol,
ul {
  margin-bottom: 1em;
  padding-left: 1.5em;
  ol,
  ul {
    margin-bottom: 0;
  }
}

/**
 * Links
 */

a {
  text-decoration: none;
  color: $noclass-main;
  border-bottom: 1px solid $noclass-main;
  &:hover {
    cursor: pointer;
    color: darken($noclass-main, 10%);
    border-bottom: 0;
  }
}

/**
 * Selected text
 */

::selection {
  color: $noclass-selection-text;
  background: $noclass-selection-background;
  text-shadow: none;
}
