/*--------------------------------------------------------------
  Layout
--------------------------------------------------------------*/

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
