/*--------------------------------------------------------------
  Menu
--------------------------------------------------------------*/

header {
  ul {
    padding-left: 0;
    list-style-type: none;
  }
  li {
    text-align: center;
    border-bottom: 1px solid $noclass-menu-underine;
    @media (min-width: 40em) {
      display: inline-block;
      text-align: left;
      border-bottom: none;
      &:first-child a {
        padding-left: 0;
      }
      &:last-child a {
        padding-right: 0;
      }
    }
    a {
      display: block;
      width: 100%;
      padding: 0.25em 0.5em;
      border-bottom: none;
    }
  }
}
