/*--------------------------------------------------------------
  Layout
--------------------------------------------------------------*/

main {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;
}
